

<script>
    {# JQueryのinsertAfterメソッドを使いProduct/detail.twigの<div class="ec-productRole__tags">の直後に挿入#}
    $(function () {
        $('#rank_select').insertAfter($('.col-3'));
    });
</script>



<div class="row mb-2" id = "rank_select">
    <div class="col-3">
        <span>{{ 'admin.common.company_name'|trans }}</span>
    </div>
    <div class="col">
        {{ form_widget(form.rank) }}

    </div>
</div>